<div class="login">
    <div class="card">
        <div class="title">
            <span class="fs-headline display-block tc-primary-color">Log-in</span>
        </div>
        <div class="content">
            <form>
                <div>
                    <lx-text-field label="Username" disabled="false">
                        <input type="text" ng-model="logInCtrl.username" >
                    </lx-text-field>
                </div>
                <div>
                    <lx-text-field label="Password" disabled="false">
                        <input type="password" ng-model="logInCtrl.password" >
                    </lx-text-field>
                </div>
            </form>
        </div>
        <div class="card__actions">
            <button class="btn btn--m btn--black btn--flat" lx-ripple>Connect</button>
        </div>
    </div>
</div>