@import '../base/core';

$defaultBoxCornerRadius: 10px;

.login {
    height: 100%;
    width: 100%;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.login .card {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 400px;
}

.login .card-title {
    width: 100%;
    @include z-depth(1);
    padding: $paddingNormal;
}

.login .card-content {
    padding: $paddingLarge;
    padding-top: 0px;
}

.login .card__actions {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.login .text-field {
    padding-top: ($base-spacing-unit * 4) - 12px;

    label {
        top: $base-spacing-unit - 12px;
    }
}